[Unit]
Description=RPC mountd
Requires=rpcbind.target

[Service]
EnvironmentFile=/etc/default/nfs
ExecStart=/usr/sbin/rpc.mountd --foreground $OPTS_RPC_MOUNTD
