[Unit]
Description=NFS status daemon
Requires=rpcbind.target
After=rpcbind.target

[Service]
EnvironmentFile=/etc/default/nfs
ExecStart=/usr/sbin/rpc.statd --no-notify -F $OPTS_RPC_STATD
Restart=on-failure

[Install]
WantedBy=multi-user.target
