[Unit]
Description=NFS sm-notify
Requires=rpc.statd.service
Requires=network.target

[Service]
EnvironmentFile=/etc/default/nfs
ExecStart=/usr/sbin/sm-notify -d $OPTS_SMNOTIFY
Type=oneshot
Restart=on-failure
