[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core
[submodule "meta-angstrom"]
	path = meta-angstrom
	url = git://github.com/Angstrom-distribution/meta-angstrom.git
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-hipos"]
	path = meta-hipos
	url = git://github.com/DFE/meta-hipos.git
	pushURL = git@github.com:DFE/meta-hipos.git
	branch = morty
[submodule "hipos-base"]
	path = hipos-base
	url = git://github.com/DFE/hipos-base.git
	pushURL = git@github.com:DFE/hipos-base.git
	branch = morty
[submodule "meta-fsl-arm-extra"]
	path = meta-fsl-arm-extra
	url = git://github.com/Freescale/meta-fsl-arm-extra.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "meta-telephony"]
	path = meta-telephony
	url = https://github.com/sysmocom/meta-telephony.git
[submodule "meta-qt4"]
	path = meta-qt4
	url = git://git.yoctoproject.org/meta-qt4
[submodule "meta-freescale"]
	path = meta-freescale
	url = https://git.yoctoproject.org/git/meta-freescale
