[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-hipos"]
	path = meta-hipos
	url = https://github.com/DFE/meta-hipos.git
	pushURL = git@github.com:DFE/meta-hipos.git
	branch = kirkstone
[submodule "hipos-base"]
	path = hipos-base
	url = https://github.com/DFE/hipos-base.git
	pushURL = git@github.com:DFE/hipos-base.git
	branch = kirkstone
[submodule "meta-fsl-arm-extra"]
	path = meta-fsl-arm-extra
	url = https://github.com/Freescale/meta-fsl-arm-extra.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
[submodule "meta-freescale"]
	path = meta-freescale
	url = https://git.yoctoproject.org/git/meta-freescale
[submodule "meta-intel"]
	path = meta-intel
	url = git://git.yoctoproject.org/meta-intel.git
[submodule "meta-python2"]
	path = meta-python2
	url = git://git.openembedded.org/meta-python2
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
