build/conf/bblayers.conf
build/conf/parallel.conf
build/conf/private.conf
build/conf/local.conf
*~
*.log
build/bitbake.lock
build/cache/
build/conf/sanity_info
build/downloads/
build/pseudodone
build/sstate-cache/
build/tmp-eglibc/
init.sh

