[submodule "openembedded-core"]
	path = openembedded-core
	url = git://git.openembedded.org/openembedded-core
[submodule "meta-angstrom"]
	path = meta-angstrom
	url = git://github.com/Angstrom-distribution/meta-angstrom.git
[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-java"]
	path = meta-java
	url = git://github.com/woglinde/meta-java.git
[submodule "meta-hipos"]
	path = meta-hipos
	url = git://github.com/DFE/meta-hipos.git
	pushURL = git@github.com:DFE/meta-hipos.git
[submodule "hipos-base"]
	path = hipos-base
	url = git://github.com/DFE/hipos-base.git
	pushURL = git@github.com:DFE/hipos-base.git
[submodule "meta-fsl-arm"]
	path = meta-fsl-arm
	url = git://git.yoctoproject.org/meta-fsl-arm
[submodule "meta-fsl-arm-extra"]
	path = meta-fsl-arm-extra
	url = git://github.com/Freescale/meta-fsl-arm-extra.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
