*~
*.log
*.kate-swp
build*/
setup-build*.sh
init.sh

# virtualenv related directories
bin/
include/
lib/
local/
man/

# Python specific
*.pyc
*.pyo

# nosetest related files
coverage.xml
nosetests.xml
.coverage
