*~
*.log
*.kate-swp
build/conf/bblayers.conf
build/conf/parallel.conf
build/conf/private.conf
build/conf/local.conf
build/bitbake.lock
build/cache/
build/conf/sanity_info
build/downloads/
build/pseudodone
build/sstate-cache/
build/tmp-eglibc/
build/pyshtables.py
init.sh

