[Unit]
Description=healthy service
Requires=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bootconfig set-kernel-healthy
ExecStart=/usr/bin/bootconfig set-rootfs-healthy
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target

