[Unit]
Description=hipos time service
Requires=dev-serial-by\x2dpath-platform\x2dorion\x2dehci.0\x2dusb\x2d0:1.4:1.1\x2dport0.device
After=dev-serial-by\x2dpath-platform\x2dorion\x2dehci.0\x2dusb\x2d0:1.4:1.1\x2dport0.device
Before=hipos-watchdog.service

[Service]
Type=oneshot
ExecStart=/etc/hipos/scripts/set-time.sh
RemainAfterExit=no
Restart=on-failure

[Install]
WantedBy=multi-user.target
