[Unit]
Description=hipos serial device info
Requires=dev-serial-by\x2dpath-platform\x2dorion\x2dehci.0\x2dusb\x2d0:1.4:1.1\x2dport0.device
Before=hipos-network-setup.service
Before=hipos-watchdog.service

[Service]
Type=oneshot
ExecStart=/etc/hipos/hipos-device-info.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

