[Unit]
Description=NetBIOS name server
Requires=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/samba/smb.conf
ExecStart=/usr/sbin/nmbd
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target

