[Unit]
Description=Legacy quota daemon
Requires=network.target nfsd.service
After=rpcbind.target nfsd.service

[Service]
EnvironmentFile=/etc/default/quota
ExecStart=/usr/sbin/rpc.rquotad --foreground $RQUOTAD_OPTS

[Install]
WantedBy=multi-user.target
