[Unit]
Description=AUFS overlay file system mount over root-fs
DefaultDependencies=false
Conflicts=shutdown.target
After=udev-settle.service
Before=local-fs-pre.target remote-fs-pre.target local-fs.target remote-fs.target sysinit.target basic.target dbus.target
Before=fsck-root.service remount-rootfs.service systemd-remount-api-vfs.service systemd-remount-api-vfs.service systemd-random-seed-load.service systemd-tmpfiles-setup.service
Before=systemd-journald.service systemd-modules-load.service systemd-sysctl.service
Before=dev-hugepages.mount  dev-mqueue.mount  media.mount  proc-sys-fs-binfmt_misc.mount  sys-fs-fuse-connections.mount  sys-kernel-config.mount  sys-kernel-debug.mount  sys-kernel-security.mount  var-lock.mount  var-run.mount

[Service]
Type=oneshot
ExecStart=/usr/sbin/mount-rootfs-overlay.sh
ExecStart=/bin/systemctl daemon-reload
