[Unit]
Description=AUFS overlay file system mount over root-fs
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs.target
Before=machineid.service opkg.service systemd-random-seed-load.service systemd-tmpfiles-setup.service sysinit.target basic.target shutdown.target udev.service udev-trigger.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/mount-rootfs-overlay.sh
RemainAfterExit=yes
