[Unit]
Description=AUFS overlay file system un-mount
DefaultDependencies=no
Before=systemd-shutdownd.service shutdown.target umount.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/umount-rootfs-overlay.sh
ExecStart=/bin/systemctl daemon-reload

