[Unit]
Description=AUFS overlay file system un-mount
DefaultDependencies=no
Requires=shutdown.target
After=shutdown.target
Before=umount.target
Conflicts=umount.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/umount-rootfs-overlay.sh
ExecStart=/bin/systemctl daemon-reload

