[Unit]
Description=hipos network setup service
Requires=network.target
After=network.target
Requires=dev-serial-by\x2dpath-platform\x2dorion\x2dehci.0\x2dusb\x2d0:1.4:1.1\x2dport0.device
After=dev-serial-by\x2dpath-platform\x2dorion\x2dehci.0\x2dusb\x2d0:1.4:1.1\x2dport0.device
Before=hipos-time.service

[Service]
Type=oneshot
ExecStart=/etc/hipos/hipos-network-setup.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
