[Unit]
Description=hipos network setup service
Requires=network.target

[Service]
Type=oneshot
ExecStart=/etc/hipos/hipos-network-setup.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target

