[Unit]
Description=samba SMB/CIFS server
Requires=network.target

[Service]
Type=oneshot
EnvironmentFile=/etc/samba/smb.conf
ExecStart=/usr/sbin/smbd
RemainAfterExit=yes
StandardOutput=null

[Install]
WantedBy=multi-user.target

