[Unit]
Description=Advanced Power Management (APM) service
After=syslog.target

[Service]
ExecStart=/usr/sbin/apmd -P /etc/apm/apmd_proxy
Sockets=apmd.socket
StandardOutput=null

[Install]
WantedBy=multi-user.target

