[Unit]
Description=port mapper service
Requires=network.target

[Service]
ExecStart=/sbin/portmap -f
StandardOutput=null

[Install]
WantedBy=multi-user.target

