[Unit]
Description=port mapper service
After=syslog.target

[Service]
Type=forking
ExecStartPre=/etc/init.d/portmap stop
ExecStart=/sbin/portmap
Sockets=portmap.socket
StandardOutput=null

[Install]
WantedBy=multi-user.target

