[Unit]
Description=port mapper service
Requires=connman.service

[Service]
Type=forking
ExecStart=/sbin/portmap
Sockets=portmap.socket
StandardOutput=null

[Install]
WantedBy=multi-user.target

