[Unit]
Description=RPCBIND port mapping server
Requires=network.target
Before=rpcbind.target

[Service]
EnvironmentFile=/etc/default/rpcbind
ExecStart=/usr/sbin/rpcbind $RPCBIND_OPTS
Type=forking
Restart=always

[Install]
WantedBy=rpcbind.target

